
QPushButton#feat_btn:hover {
    /* color: #853b3b; */
    background-color: red;
}
QPushButton#feat_btn t {
    background: red;
    color: #C1C1C1;
    text-align: center;
    border: None;
}

